exportPattern("^[[:alpha:]]+")
importFrom(ape, dist.dna, getMRCA, plot.phylo, nodelabels, tiplabels, is.binary.tree, multi2di)
importFrom(phangorn, CI, phyDat)
importFrom(spider, localMinima, tclust)
importFrom("graphics", "mtext", "par", "strwidth")
importFrom("utils", "write.table")
S3method(print,BCCluster)
